In [ ]:
pip -q install datasets

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import numpy as np
import pandas as pd
import datasets

In [4]:
path = "/content/drive/MyDrive/Datasets for Sentiments/comments.csv"
df = pd.read_csv(path)
df.head()

,Unnamed: 0,Video ID,Comment,Likes,Sentiment
0,0,wAZZ-UWGVHI,Let's not forget that Apple Pay in 2014 requir...,95.0,1.0
1,1,wAZZ-UWGVHI,Here in NZ 50% of retailers don’t even have co...,19.0,0.0
2,2,wAZZ-UWGVHI,I will forever acknowledge this channel with t...,161.0,2.0
3,3,wAZZ-UWGVHI,Whenever I go to a place that doesn’t take App...,8.0,0.0
4,4,wAZZ-UWGVHI,"Apple Pay is so convenient, secure, and easy t...",34.0,2.0

In [5]:
df = df.drop(['Unnamed: 0', 'Video ID', 'Likes'],axis=1)
df.head()

                                             Comment  Sentiment
0  Let's not forget that Apple Pay in 2014 requir...        1.0
1  Here in NZ 50% of retailers don’t even have co...        0.0
2  I will forever acknowledge this channel with t...        2.0
3  Whenever I go to a place that doesn’t take App...        0.0
4  Apple Pay is so convenient, secure, and easy t...        2.0

In [ ]:
 df.value_counts("Sentiment")

In [6]:
df1 = pd.DataFrame(columns=df.columns)
for stars in range(3):
    data = df[df["Sentiment"] == stars][:2338]
    df1 = pd.concat([df1,data])

In [7]:
 df1.value_counts("Sentiment")

Sentiment
0.0    2338
1.0    2338
2.0    2338
dtype: int64

In [8]:
dataset1 = datasets.Dataset.from_pandas(df1, preserve_index=False)
print(dataset1)

Dataset({
    features: ['Comment', 'Sentiment'],
    num_rows: 7014
})

In [10]:
dataset1 = dataset1.rename_column('Sentiment', "labels")
dataset1 = dataset1.rename_column('Comment' ,"text")

In [11]:
print(dataset1)

Dataset({
    features: ['text', 'labels'],
    num_rows: 7014
})

In [13]:
dataset_split = dataset1.train_test_split(test_size=0.1, shuffle=True, seed=59)

In [14]:
dataset_split

DatasetDict({
    train: Dataset({
        features: ['text', 'labels'],
        num_rows: 6312
    })
    test: Dataset({
        features: ['text', 'labels'],
        num_rows: 702
    })
})

In [ ]:
!python -m pip install huggingface_hub
!huggingface-cli login

In [ ]:
dataset_split.push_to_hub(repo_id='DepositorOP/masterstack')